/* Normalizing css using universal selector */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Setting  the font size */
.container{
    padding: 7px;
}
.banner{
    min-height: 97vh;
    background-image: url(/undraw_On_the_way_re_swjt.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: small;

}



/* style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: rgb(33, 33, 233);
  }

  /* text-box-left */
  .text-box-left{
    position: absolute;
    left: 50px;
    top: 300px;
  }

  .text-box-left p{
    width: 300px;
    line-height: 20px;
  }

  .head-underline{
    width: 70px;
    height: 3px;
    margin-left: 4px;
    background-color: green;
  }

  .text-btn{
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: gray;
    padding: 10px;
  }

  .slde-btn{
    margin-top: 400px;
    margin-left: 500px;
  }