/* Normalizing css using universal selector */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Setting  the font size */
html{
    font: 10px;
}



body{
    background-color: #ece4e4;
}

.title{
    text-align: center;
    font-size: 30px;
}